{% extends "two_column_body.html" %} 
<!-- template faq.html --> 
{% block title %}{% spaceless %}{% trans %}FAQ{% endtrans %}{% endspaceless %}{% endblock %} 
{% block content %}
<style>
    #warning {
        border: 1px red solid;
        padding: 8px;
        margin-left:25px;
    }
</style>
<h1 align="center">WIND RIVER KNOWLEDGE FORUM</h1>
<h2><a name="intro"></a>General / Introductory</h2>
<h3>What is Wind River Knowledge Forum:</h3>
<p>The Wind River Knowledge Forum is one of several Support Tools  available to Wind River Customers. </p>
<p>The Forum has been designed and implemented to be a tool that allows  customers to search for solutions to common problems, ask certain types of  questions and to contribute to the knowledge base by answering questions.</p>
<p>The Wind River Knowledge Forum is not intended to be a Discussion Forum -questions that require considerable  back-and-forth transactions, or in-depth investigations, should be routed to  one of Wind River's other support tools.</p>
<p>It is important to note that  in addition to customer questions, Wind River Customer Support Engineers  actively post Question/Answer pairs based on experience gained during  traditional support of products and tribal knowledge. Over time the Knowledge Forum should become a significant  knowledge repository of Problem/Solutions Pairs.</p>
<p>It is available at <a href="/" target="_blank">ask.windriver.com</a>.</p>
<div id="warning"><strong>Please be Aware:</strong><br>
  <ul>
    <li>The Wind River Knowledge Forum is an open Support Repository that is  accessible to Wind River Employees and customers that have <strong>active Support  Maintenance Agreements. </strong></li>
    <li>Questions posted are visible  to all users and all users can contribute to the answer. Both Questions and  Answers can be edited by every user on Wind  River Knowledge Forum. </li>
    <li>Users should refrain from  posting proprietary or confidential information on Wind River Knowledge Forum. Wind River System is not responsible  for ensuring the privacy of data on Wind  River Knowledge Forum. </li>
  </ul>
</div>
<h3><a name="conduct"></a>Code of conduct:</h3>
<p>Given the open nature of the Wind River Knowledge Forum,  proprietary information should not be posted on the forum. If Wind River Customer Support requires  proprietary information, it will be requested via an off-forum communication.</p>
<p>The Wind  River Knowledge Forum is intended to be a self-moderating vehicle  with minimum moderation by Wind River. Given this assumption, it is expected that each user will treat others  with tolerance, respect and professionalism. </p>
<p>This Forum is not a platform to argue over information or point out faults of  others. If a user sees inaccurate,  misleading or malicious information - the content can be voted down or flagged  it as offensive. Voting down content  moves it down in the knowledge value tree. Transactions marked as offensive  trigger a review by the forum administrator.</p>
<h3><a name="access"></a>How to access Wind River Knowledge  Forum: </h3>
<p>Wind River Knowledge Forum can be access from <a href="/">ask.windriver.com</a>. A link to Wind  River Knowledge Forum is also available from our OnLine Support (OLS) site.</p>
<h3><strong>How to register:</strong><a name="register"></a></h3>
Wind River Knowledge Forum is available to Wind River customers who are  registered using their license# and LAC. The registration form for first time  users is available at: <a href="https://support.windriver.com/selfservicewebapp/register.action">https://support.windriver.com/selfservicewebapp/register.action</a>
<!--  ???or</p>
<p><a href="http://ask.windriver.com/">http://ask.windriver.com/</a> ???-->
</p>
<h3><a name="login"></a>Logging  In and Managing Account /  Profile:</h3>
<p><b>Registered users</b> can sign in using their  Wind River Support username / e-mail address and password.</p>
<p> <a href="{% url user_signin %}">Sign in</a></p>
<p>Once user is logged in, they can manage their profile  by clicking on their user name:</p>
<p><img border="0" width="554" height="136" src="{{ '/images/help/userguide_clip_image002.jpg'|media }}"></p>
<h3><strong>How do I change the frequency of  e-mail notifications:</strong></h3>
From your profile page click  on 'subscriptions' and select the frequency as well as type of notification  that you wish to receive. </p>
<h3>Who manages the Wind River  Knowledge Forum:</h3>
<p>Wind River Customer Support  Engineers are the primary moderators of the Wind  River Knowledge Forum. However, customers can answer posts and may earn  Moderator Level Privileges based on karma points earned by actively  participating in the Wind River Knowledge  Forum. The goal is allow experienced users to edit the information to  improve the overall quality and accuracy of the Wind River Knowledge Forum content.</p>
<h3>What Other  support channels are available to customers:</h3>
<p>The Wind  River Knowledge Forum is one of a number of Wind River Customer  Support vehicles. Since this Forum is intended for a subset of possible  customer issues, users may be directed to support services other than the Wind River Knowledge Forum. </p>
<p>The Wind  River Knowledge Forum is not the best choice for the following:</p>
<ul>
  <li>Content that contains confidential or proprietary information</li>
  <li>ITAR classified information</li>
  <li>Problems that cannot be categorized into a concise Question/Answer Pair</li>
  <li>Problems that require more than a few back-and-forth interactions</li>
  <li>Problems that require significant debugging effort or investigation</li>
  <li>Problems that are time-critical</li>
</ul>
<p>Issues  that do not qualify as good candidates for the Wind River Knowledge Forum may be  routed to other Wind River Support Services.</p>
<p>All  Wind River Support Service pages contain a common Support Service Selector  across the top of the service's home page.</p>
<p><img border="0" width="497" height="136" src="{{ '/images/help/userguide_clip_image004.jpg'|media }}"> <br>
  The  services available are:</p>
<ul>
  <li>Support Home</li>
  <li>Wind River Knowledge Forum </li>
  <li>On Demand Learning </li>
  <li>TSR Manager</li>
</ul>
<p>The <strong>Support Home</strong> selection opens a web page to the Wind River main Support  Portal - Online Support (OLS). OLS  contains an extensive set of tools and services:</p>
<ul>
  <li>TechTips and Application Notes</li>
  <li>Product Documentation</li>
  <li>Service Packs and Patches</li>
  <li>BSP downloads</li>
  <li>Firmware Updates</li>
  <li>On-Chip Debugging Register Files</li>
  <li>Live Chat</li>
  <li>License Information</li>
  <li>Etc.</li>
</ul>
<p align="center"><img border="0" width="519" height="359" src="{{ '/images/help/userguide_clip_image006.jpg'|media }}"> </p>
<p><strong>On-Demand Learning</strong> is a new service that  contains training material and videos. </p>
<p>Wind River's primary Support  Service is available as a Technical Support Request (TSR). TSR's can be filed via the <strong>TSR Manager</strong> selection. <br>
  <br>
  Customers who have confidential, time-critical questions and/or issues that do  not qualify for a Wind River Knowledge  Forum Question/ Answer, should file a conventional TSR. <br>
  <br>
If an issue filed on the Wind River  Knowledge Forum becomes out-of-scope for the forum, the user may be  directed to one of the other Wind River Support Services.</p>
<h2><a name="search"></a>Searching for Content</h2>
<h3><a name="keyword"></a>Keyword search:</h3>
<p>Keyword search is used to  located words within the title, body and answer of Wind River Knowledge Forum question. The Keyword search box is located on the main Forum page:</p>
<p><img border="0" width="619" height="92" src="{{ '/images/help/userguide_clip_image008.jpg'|media }}"> </p>
<p>The search facility is  typical and has the following advance searching capabilities (TBD):</p>
<ul>
  <li> #tag<br>
    </li>
  <li>simple text<br>
    </li>
  <li>[title:  something in title]<br>
    </li>
  <li>[tag:  some-tag]<br>
    </li>
  <li>@some-user</li>
</ul>
<!-- <table cellpadding=2 style="border: 1pt solid black;">
  <tr>
  <td width="91"><div align="center">foo bar</div></td>
  <td width="433">Finds entries  containing foo or bar</td>
  </tr>
  <tr>
  <td><div align="center">&quot;foo bar&quot;</div></td>
  <td>Finds the exact phase</td>
  </tr>
  <tr>
  <td><div align="center">+foo +bar</div></td>
  <td>Finds entries containing both foo and  bar</td>
  </tr>
  <tr>
  <td><div align="center">&quot;foo bar&quot;</div></td>
  <td>Finds entries containing the exact  text foo bar</td>
  </tr>
  <tr>
  <td style="border-bottom: black 1pt solid;"><div align="center">+foo -bar</div></td>
  <td style="border-bottom: black 1pt solid;">Finds entries containing the word  foo, but not the word bar</td>
  <tr>
  <td colspan=2>At any time you can  select a tag to limit the search to that specific tag.</td>
  </tr>
  <tr>
  <td colspan=2>To search within  specific tag(s), enter them in square brackets: [ocd-debugging] register.</td>
  </tr>
  </table>  -->
  

<h2><a name="asking"></a>Asking Questions</h2>
<h3><a name="_Toc330900257">Before posting a question</a> search for an existing solution:</h3>
<p>Before  posting a question on the Wind River Knowledge Forum, users should search the Forum for possible solutions to  the same or similar issue. </p>
<p>Searching can be done via  keyword phrases, tag searches or a combination of the two.</p>
<p>As the Wind River Knowledge Forum grows over time, the odds of finding an  existing solution increases so it's important to spend a bit of time searching  for known problem/solution pairs. Even  if a solution is not found, searches usually result in gained knowledge and  understanding of related issues.</p>
<h3>What types of questions should be asked:</h3>
<p>After  the Wind  River Knowledge Forum has been searched unsuccessfully for a solution, the user should  determine if the question is of the type intended for the Forum. </p>
<p>Wind River Knowledge Forum is intended  for<a name="_GoBack"></a> specific type of questions - primarily questions that  meet the following criteria:</p>
<ul>
  <li>Can be categorized into a concise Question/Answer pair</li>
  <li>Does not contain confidential or proprietary information</li>
  <li>Non-Subjective</li>
  <li>Problems that do not require more than a few back-and-forth iterations</li>
  <li>Problems that do not require significant debug or investigation</li>
  <li>Problems that are not time-critical</li>
</ul>
<p>Open  ended subjective questions, which require discussions and debugging, are not  best suited for Wind River Knowledge Forum. </p>
<p>If  the problem is time-critical it may be best to file an official Technical  Support Request (TSR). This can be done using the TSR Manager link on the forum  page.</p>
<p>Questions  about the Wind River Knowledge Forum site itself, or other Wind River websites, should  be avoided. A feedback mechanism is provided on each page as a way to  communicate suggestions or problems with the Wind River Knowledge Forum to Wind  River.</p>
<h3>What information should be provided when posting a question:</h3>
<p>After  an unsuccessful search for an existing solution, and qualifying the question as  a good candidate for the Wind River Knowledge Forum, a new question can be  posted to the Wind River Knowledge Forum.</p>
<p>When  posting to the Wind River Knowledge Forum, the user will need to  supply enough information in order for Wind River Customer Support, and  possibly non-Wind River personnel, to answer the question. The format of the Question on the Forum includes the following  fields:</p>
<ul>
  <li>Question Title Line</li>
  <li>Question Description</li>
  <li>Tags</li>
</ul>
<h3>Question's title line:</h3>
Wind  River has hundreds of products, each with thousands of possible questions. Wind River Customer Support has dedicated  Customer Support Engineers (CSE) assigned to each product area. No one Customer Support Engineer could know  all products so it's important to word the question title effectively. </p>
<p>In  addition to finding a possible solution,   searching the Wind River Knowledge Forum, prior to posting a  question, gives the user a sense of how question titles should be worded. Posts with high ratings are usually best to  review for proper format, although, this is not necessarily true for all cases.</p>
<h3>Question description:</h3>
The  Question Description is obviously the most important part of submitting an  issue on the Wind River Knowledge Forum. In addition to supplying a clear and concise description of the  actual problem, it is very important to supply enough information such as  errors, version info, etc on the product or function the problem is applicable  to. </p>
<p>What  constitutes a good Problem Description is very subjective. It is important to remember that too little  or non-concise information may cause misinterpretation of the problem, delay in  responses, additional back-and-forth inquiries and possibly Wind River Customer  Support Engineer asking submitter that a Technical Support Request (TSR) be  created to receive further assistance on the issue.</p>
<h3><a name="tags"></a>Tags</h3>
The Wind River Knowledge Forum uses tags extensively. <br>
<br>
When posting a question to the Wind River  Knowledge Forum, tags should be used to identify the product area the  question applies to. The tagging facility uses tag trees that assist the user  in selecting the correct tags. Use as  many tags as necessary to properly categorize the question. </p>
<p>More details About Tags are  described in a separate section of this document.</p>
<h2><a name="answering"></a>Answering Questions</h2>
<h3>Who are contributors:</h3>
<p>Anyone  participating on the Wind River Knowledge Forum is a contributor. Wind River Knowledge Forum Questions can be answered by any user on the Forum. Typically, questions will be  answered by Wind River Customer Support (CSE) but due to the open nature of the Wind River Knowledge Forum, answers may also be submitted by other  users.</p>
<h3>Wind River Knowledge Forum Answers format:</h3>
<h3>How do I mark an answer as correct?</h3>
<div>
<div style="float:left; width: 110px;">
<img width="42" height="90" src="{{ '/images/help/faqs_clip_image002.jpg'|media }}"><img width="45" height="98" src="{{ '/images/help/faqs_clip_image004.jpg'|media }}"></div>
<div style="float: left; margin-left: 0px; width: 660px; vertical-align:top;">
  An answer can be  marked as correct by clicking on the check-mark along the left-hand side of a  forum answer. A gray check indicates  that the post hasn't been marked as the correct answer while a green check  indicates that it has been marked as the correct answer.<br/>
  <br/>Only one answer  can be marked as the correct answer. An answer can be marked as correct by the original submitter of the  question, the forum administrator or a forum moderator.
</div>
</div>
<div style="clear:left; padding-top: 15px;"></div>
  <p>A question that  has an answer labeled as 'correct' will have a small check-mark in the answer  indicator off to the right of the question.</p>
<p><img width="621" height="65" src="{{ '/images/help/faqs_clip_image006.jpg'|media }}"> </p>
<p>&nbsp;</p>
<h3>How do I vote an  answer up or down?</h3>
<p>Any user can  vote on an answer. To vote up an  answer, click on the up-arrow to the left of the answer; similarly, to vote  down an answer, click on the down arrow. </p>
<p><img width="419" height="148" src="{{ '/images/help/faqs_clip_image008.jpg'|media }}"> </p>
<p>Voting for an  answer increases the karma merit of the submitter of the answer.</p>
<p>The vote tallies  are indicated in the vote box associated with the answer.</p>
<p><img width="619" height="71" src="{{ '/images/help/faqs_clip_image010.jpg'|media }}"> </p>
<h2>How do I mark something as offensive?</h2>
<p>Users have the  choice to flag content offensive. Any article which receives 3 offensive flags  will be removed from the Wind River Knowledge Forum. Wind River Knowledge Forum administrator can remove  any article at any time, if it is found to be offensive.</p>
<p>The offensive  control is located a lot the bottom of every post.     </p>
<p><img width="280" height="64" src="{{ '/images/help/faqs_clip_image012.jpg'|media }}"></p>
<p>&nbsp;</p>
<h3><a name="comments"></a>Comments</h3>
In addition to posting separate transactions for a  question, each transaction has a &quot;Post a Comment&quot; option. Comments can be used  when asking for or providing additional information to a specific transaction  and as a short discussion mechanism. </p>
<h3>Keep  in mind when answering a question:</h3>
<p>Much of the information is intuitive and also may  have been mentioned in previous sections of this guide.</p>
<ul>
  <li>The Wind River Knowledge Forum is designed  to exchange information that is not propriety in nature</li>
  <li>It is an open platform  and other customers and Wind River employees have access to every article  available on Wind River Knowledge Forum.</li>
  <li>One of the possible  answers to a question which is informational in nature. Several possible  answers can be added to a single question. </li>
  <li>Existing &quot;answer&quot;  should be edited for completeness or to provide additional/ accurate  information.</li>
  <li>Answer should be  limited to delivering the information requested and not to ask follow-up  questions as they tend to dilute the essence of questions and answers. </li>
  <li>For brief discussions  on a question please use the commenting facility.</li>
  <li>Wind River System  reserves the right to remove Question/ Answer articles and contributors from Wind River Knowledge Forum.</li>
  <li>It is expected that  each contributor on Wind River Knowledge  Forum will treat others with tolerance, respect and professionalism.</li>
  <li>Wind River Knowledge Forum is not a platform to argue over the information; if  you see misinformation or inaccurate information, vote it down. You always have  the option to edit and improve the existing questions and answers.</li>
</ul>
<h3>Display options:</h3>
Users have option to decide  the content that they want to be displayed. On the right side of the Wind River Knowledge Forum, there are  various selections to choose from. Users can choose to subscribe or ignore  certain tags. Similarly, tag search is available as well. </p>
<p>Users can also sort their  search by relevance, date, activity or votes:</p>
<p><img border="0" width="552" height="46" src="{{ '/images/help/userguide_clip_image010.jpg'|media }}"></p>
<h3>Tags:</h3>
Wind River Knowledge Forum provides an extensive list of tags for each of its  product lines and their sub categories. This makes it easy for users to tag  their questions and make sure that tags are used consistently across the Forum. If your Question/ Answer doesn't  match any of the tags that are provided, you can add a custom tag to your  question which be added to the tag list if and when it is approved by the  moderator. If the tag is not approved, the moderator will add an existing  relevant tag to your question. Similarly, you can remove a tag though this is  not recommended. Please make sure to add all related tags from each level of  tags that are available for your question. </p>
<p><img border="0" width="616" height="151" src="{{ '/images/help/userguide_clip_image012.jpg'|media }}"></p>
<h2>Other Features in Knowledge Forum</h2>
<h3>How does karma system work?</h3>
<p>When a question or answer  is upvoted, the user who posted it will gain some points, which are called &quot;karma  points&quot;. These points serve as a rough measure of the community's trust  in him/her. Various moderation tasks are gradually assigned to users based on  these points. For example, if you ask  an interesting question or give a helpful answer, your input will be upvoted. On the other hand if the answer is misleading -it will be downvoted. Each vote  in favor will generate <strong>10</strong> points, each vote against will subtract <strong>10</strong> points. There is a limit of <strong>200</strong> points that can be accumulated for a question or answer per day. The table  below explains reputation point requirements for each type of moderation task. </p>
<table border="0" cellspacing="5" cellpadding="3" style="border:1px solid black;">
  <tr>
    <td width="40"><p align="right"><strong>0</strong> </p></td>
    <td width="300"><p>upvote</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>0</strong> </p></td>
    <td><p>add comments</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>10</strong> </p></td>
    <td><p>downvote</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>0</strong> </p></td>
    <td><p>accept own answer to own questions</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>0</strong> </p></td>
    <td><p>open and close own questions</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>0</strong> </p></td>
    <td><p>retag other's questions</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>20</strong> </p></td>
    <td><p>edit community wiki questions</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>0</strong> </p></td>
    <td><p>edit any answer</p></td>
  </tr>
  <tr>
    <td><p align="right"><strong>20</strong> </p></td>
    <td><p>delete any comment</p></td>
  </tr>
</table>
<h3>How to change my picture (gravatar) and what is gravatar?</h3>
<p>The picture that appears  on the users profiles is called <strong>gravatar</strong> (which means <strong>g</strong>lobally <strong>r</strong>ecognized <strong>avatar</strong>). Here is how it works: a <strong>cryptographic key</strong> (unbreakable code) is calculated from  your email address. You upload your picture (or your favorite alter ego image)  to the website <a href="http://gravatar.com/"><strong>gravatar.com</strong></a> from where we later retrieve your image using the key. This way all the websites  you trust can show your image next to your posts and your email address remains  private. Please <strong>personalize your account</strong> with an image -just register  at <a href="http://gravatar.com/"><strong>gravatar.com</strong></a> (please be sure to use the same email address that you  used to register with Wind River Systems). The default image which looks like a  kitchen tile is generated automatically.</p>
<h3>Flagging a content  offensive:</h3>
<p> Users have the  choice to flag content offensive. Any article which receives 3 offensive flags  will be removed from the Wind River Knowledge Forum. Wind River Knowledge Forum administrator can remove  any article at any time, if he/ she finds it offensive for general community.</p>
{% endblock %}
