{% extends "two_column_body.html" %}
{% block title %}{% trans %}Help{% endtrans %}{% endblock %}
{% block content %}
<h1 class='section-title'>{% trans %}Help{% endtrans %}</h1>
  <p> Welcome {{ request.user.username }}, </p>
  <p> Thank you for using Knowledge Forum, here is how it works. </p>
  <p> This site is for asking and answering questions, not for open-ended discussions.      We encourage everyone to use &quot;question&quot; space for asking and “answer” for answering. </p>
  <p> Despite that, each question and answer can be commented - the comments are good for the limited discussions. </p>
  <p> Voting in Knowledge Forum helps to select best answers and thank most helpful users. </p>
  <p>
  Please vote when you find helpful information,      it really helps the Knowledge Forum community.             Besides, you can @mention users anywhere in the text to point their attention,      follow users and conversations and report inappropriate content by flagging it.</p>
  <p>Knowledge Forum informational links</p>
  <p><a href="{% url faq %}">Knowledge Forum FAQs</a> </p>
  <!--p><a href="{% url users_guide %}">User Guide</a> (New user recommended reading)</p-->
{% endblock %}
