{% extends "two_column_body.html" %}
{% block title %}{% trans %}Help{% endtrans %}{% endblock %}
{% block content %}
<div style="padding: 5px;">
<h1 class='section-title'>{% trans %}Help{% endtrans %}</h1>
  <p>Welcome {{ request.user.username }}, </p>
  <p>Thank you for using Knowledge Forum. Here's how it works:</p>
  <p>This site is for asking and answering questions, not for open-ended discussions. We encourage everyone to use the <strong>question</strong> space for asking, and <strong>answer</strong> for answering. </p>
  <p>Each question and answer can be commented on -- The comments are a good place for limited discussions.</p>
  <p>Voting in Knowledge Forum helps select the best answers and thank the most helpful users. </p>
  <p>Please vote when you find information helpful; it really helps the Knowledge Forum community. In addition, you can: 
      <ul>
        <li>@mention users anywhere in the text to point them to it.</li>
        <li>Follow users and conversations. </li>
        <li>Report inappropriate content by flagging it.</li>
      </ul>
  </p>
  <div style="margin-bottom: 10px;"><p><strong>Informational links</strong></p>
 	 <p><a href="{% url faq %}">Knowledge Forum FAQs</a> </p>
      <p><a href="{% url users_guide %}">User Guide</a> (New user recommended reading)</p>
  </div>
  
  <h2>Wind River Knowledge Forum Introduction</h2>
  <iframe src="http://player.vimeo.com/video/46496821?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  
 

  </div>
{% endblock %}
