{% extends "two_column_body.html" %} 
<!-- template faq.html --> 
{% block title %}{% spaceless %}{% trans %}FAQ{% endtrans %}{% endspaceless %}{% endblock %} 
{% block content %}

<h1 align="center" style="margin-top: 5px;">WIND RIVER KNOWLEDGE FORUM</h1>

<div style="margin-left: 8px; margin-top:6px;">
<h2><a name="intro"></a>User Guide</h2>
<ul>
  <li><a href="#tags">Forum Tags</a>
    <ul>
      <li>Wind River Knowledge Forum uses an extensive list of tags for each of the Wind River product lines and their sub-categories.</li>
    </ul>
  </li>
  <li><a href="Question">Asking a Question</a>
    <ul>
      <li>The question description is the most important part of submitting an  issue on Knowledge Forum. In addition to supplying a clear and concise description of the actual problem, it is very important to supply any errors, version information, and so on, on the product or function the problem is applicable to.</li>
      <li>What  constitutes a good question description is very subjective. Remember that providing too little or imprecise information can lead to misinterpretation of the problem, a delay in responses, and additional back-and-forth inquiries; and can result in a Wind River Customer Support Engineer asking you to create a Technical Support Request (TSR) for further assistance on the issue.</li>
    </ul>
  </li>
  <li><a href="answering">Answering/Commenting on a Question</a>
    <ul>
         <li>Wind River Knowledge Forum is designed for information that is not proprietary in nature.</li>
        <li>It is an open platform, and other customers and Wind River employees have access to all Knowledge Forum articles.</li>
        <li>Several answers are possible for the same question. </li>
        <li>An existing answer can be edited for completeness or accuracy.</li>
        <li>Limit your answer to delivering the information requested. Avoid follow-up questions, as they tend to dilute the essence of questions and answers. </li>
        <li>For brief discussions on a question, use the comment facility.</li>
        <li>It is expected that each Knowledge Forum contributor will treat others with tolerance, respect and professionalism.</li>
        <li>Wind River Knowledge Forum is not a platform for arguing over the information; if you see misinformation or inaccurate information, vote it down. You always have the option to edit and improve the existing questions and answers.</li>
        <li>Wind River reserves the right to remove articles and contributors from Wind River Knowledge Forum.</li>
    </ul>
  </li>
  <li><a href="profile">The User Profile</a>
    <ul>
      <li>Personal Prefences such as e-mail notifications, username, avatar picture, and etc.</li>
    </ul>
  </li>
</ul>

<h2><a name="tags" id="tags"></a>Forum Tags</h2>
<iframe src="http://player.vimeo.com/video/46506574?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<h2>&nbsp;</h2>
<h2><a name="Question" id="Question"></a>Asking a Question</h2>
<iframe src="http://player.vimeo.com/video/46506572?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<h2>&nbsp;</h2>
<h2><a name="answering" id="answering"></a>Answering/Commenting on a Question</h2>
<iframe src="http://player.vimeo.com/video/46506572?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<h2>&nbsp;</h2>
<h2><a name="profile" id="profile"></a>User Profile</h2>
<iframe src="http://player.vimeo.com/video/46506575?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
